*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2586869f;
    height: 130px;
    padding: 30px 40px;
    width: 100%;
    
}
nav .logo{
    color: #fff;
}
.logo img{
    background-size: cover;
    height: 130px;
}
.logo-span{
    color: #4B4453;
}
.lists {
    /* display: flex; */
    justify-content: space-around;
    flex-direction: row;
    text-decoration: none;
}
.lists a{
    text-decoration: none;
    color: #f3f3f3;
    padding: 20px;
    display: inline-block;
}
.lists a:hover::after{
    width: 100%;
}

.lists a::after{
   content: '';
   width: 0px;
  height: 2px;
  display: block;
  background: #4B4453;
  transition: 300ms
}

@media screen and (min-width: 390px) and (max-width: 700px){
    
    .logo{
        background-color: cover;
    }
    .logo img{
        background-size: cover;
        height: 70px;
    }
    .logo-span{
        color: #4B4453;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #2586869f;

    }
    .lists a{
        color: #f6f6f6;
    }

}


/* home */
.center{
    display: flex;
    min-height: 568px;
    background-color: #2586869f;
    background: linear-gradient(345deg, #ea919148 0%, #2586869f 60%);
    font-size: 2rem;
    color: aliceblue;
    
}
.center-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.personal_name{
    color: rgb(255, 183, 195);  
}

.center-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

}
.center-right img{
    background-size: cover;
    height: 400px;

}
@media screen and (min-width: 390px) and (max-width: 700px){
    .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 568px;
    }
    .center-right img{
        height: 200px;
    }
}


/*  about me */
.about-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 400px;
    background-color: #ea919148;
    padding: 30px;
    color: #4b44539a;
}
.about-me-left,
.about-me-right{
    width: 50%;
}
#aboutme{
    text-align: center;   
}
.about-me-right img{
    box-shadow: rgba(0, 0, 0, 0.2) ;
    background-size: cover;
    height: 400px;
    width: 400px;
}
.about-me h1{
    text-align: center;
    font-size: 2rem;
    margin: 20px;
    color: #4B4453;
    
}
@media screen and (min-width: 390px) and (max-width: 700px){
    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .about-me-left
    {
    width: 99%;
    }
    .about-me-right img{
        display: none;
    }
}
/* skill section */

.container_skill{
    text-align: center;
  }
.container_skill h1{
    margin: 1rem;
    font-size: 2rem;
    color: #4B4453;
  }
  
.skill-nav-bar {
      margin-bottom: 50px;
      margin-top: 20px;
    }
  
.skill-nav-bar .skill-btn {
      background-color: rgb(186, 141, 141);
      outline: none;
      border: none;
      color: white;
      font-size: 24px;
      padding: 4px 8px 0px 8px;
      padding: 2px 5px;
      border-radius: 5px;
      margin-right: 5px;
      cursor: pointer;
    }
.skill-nav-bar .skill-btn:hover{
        transform: scale(1);
        transition: all 0.3s ease-in-out;
    }
  
.skill-nav-bar .skill-btn:active {
      border-bottom: 1px solid #4B4453;
    }
.skill-nav-bar .all {
    border-bottom: 1px solid #4B4453;
  }
  
.skill{
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;   
    justify-content: space-between;
  }
  
.programming_languages{
    display: flex;
    flex-direction: column;
    margin: 5px;
    height: 240px;
    width: 190px;
    text-align: center;
  }
.programming_languages img{
    background-size: cover;
    height: 150px;
  }
.programming_languages p{
    font-size: 20px;
    color: #4b4453;
  }
.programming_languages:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }

@media screen and (min-width: 390px) and (max-width: 700px){
    .skill-nav-bar .skill-btn {
        font-size: 24px;
        padding: 2px 5px;
        margin: 10px 10px;
      } 
      .programming_languages{
        display: flex;
        /* flex-direction: column; */
        margin: 2px;
        height: 50x;
        width: 120px;
        text-align: center;
      }

  }


/* section project */
.projects{
    min-height: 600px;
    
}
.projects h1{
    font-size: 2rem;
    margin: 20px;
    color: #4B4453;
    text-align: center;
}
.project{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color:rgba(37, 134, 134, 0.623); */
    height: 500px;
    color: #282424;
}
.project .card{
    border-radius: 15px;
    min-height: 400px;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -15px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
    transition: ease-in-out;
}

.project .card:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
.project .card img{
    background-size: cover;
    height: 150px;
}

.project .card h2{
    margin: 15px 0px;
}

.project .card-left,
.project .card-center,
.project .card-right{
    padding: 1rem;
}
.card-btn{
    margin: 10px;
    background-color: #2ca5a59f;
    border: none;
    font-size: 1rem;
    padding: 6px;
    border-radius: 5px;
}
.card-btn:hover{
    background-color: #1e8f8f9f;

}
@media screen and (min-width: 390px) and (max-width: 700px){
    .project{
        display: flex;
        flex-direction: column;
        display: inline;
        margin-bottom:20px;
    }
    .project .card {
        min-height: 300px;
        width: 100%;
    }
    .project .card:hover{
        transform: scale(1);
        transition: all 0.3s ease-in-out;
    }
    .card-btn{
        font-size: ;
    }
}


/* footer contact */
.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(234, 145, 145, 0.281);
    height: 320px;
    padding: 0px 20px;
    margin-top: 10px;
}
.foot{
    height: 80%;
    width: 20%;
    color: #4B4453;
    
}
.foot h3{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    color: #4B4453;
}
.foot p{
    font-size: 1.2rem;
    letter-spacing: 1.3px;
    margin-bottom: 0.7rem;
}
.footer-left,
.footer-cente
    { 
    width: 25%;
}

.footer-left a{
    color: #4B4453;
    text-decoration: none;
}

.footer-right{
    width: 25%;
}

.icon-gap{
    margin: 0 0 0 20px;
}

.social-media-icon{
    font-size: 1.3rem;
    cursor: pointer;
}
.gaps{
    margin: 8px;
}
.gaps:hover{
    transform: translateY(-15px);
    transition: all 0.3s ease-out;
    
}
@media screen and (min-width: 390px) and (max-width: 700px){

}

.copyright{
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: #4B4453;
    background-color: rgba(234, 145, 145, 0.281);
}

