*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(180, 60%, 31%, 0.623);
    height: 100px;
    padding: 30px 40px;
    width: 100%;
    
}
nav .logo{
    color: #fff
}
.logo-span{
    color: rgb(196, 101, 101);
}
.lists {
    /* display: flex; */
    justify-content: space-around;
    flex-direction: row;
    text-decoration: none;
}
.lists a{

    text-decoration: none;
    color: #fff;
    padding: 20px;
}
.center{
    display: flex;
    min-height: 568px;
    background-color: #2586869f;
    background: linear-gradient(345deg, #ea919148 0%, #2586869f 60%);
    font-size: 2rem;
    color: aliceblue;
    /* clip-path: polygon(100% 0, 100% 0, 100% 23%, 100% 54%, 100% 86%, 63% 77%, 31% 82%, 0 100%, 0% 35%, 0 1%); */

    clip-path: polygon(38% 0, 100% 0, 100% 0, 100% 54%, 100% 90%, 76% 79%, 42% 87%, 0 100%, 0% 35%, 0 0);
    
}
.center-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.center-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

}
/* section about me */
.about-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 400px;
    background-color: rgba(234, 145, 145, 0.281);
    text-align: center;
    padding: 30px;
    clip-path: polygon(45% 10%, 81% 11%, 100% 0, 100% 54%, 100% 100%, 71% 100%, 41% 100%, 0 100%, 0% 35%, 0 0);

}
.about-me-left,
.about-me-right{
    width: 50%;
}
.about-me h1{
    font-size: 2rem;
    margin: 20px;
}

/* section skill */
.skill{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(37, 134, 134, 0.623);
    height: 550px;
}
.card{
    border-radius: 15px;
    height: 60%;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -15px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
    transition: ease-in-out;
}
.card:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.card-left{
    /* background-color: aquamarine; */
}
.card-center{
    /* background-color: rgba(172, 107, 172, 0.593); */
}
.card-right{
    /* background-color: violet; */
}

/* footer contact */
.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(143, 188, 190);
    height: 320px;
}
.foot{
    height: 80%;
    width: 20%;
    color: azure;
    
}
.foot h3{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    color: rgb(81, 59, 59);
}
.foot p{
    font-size: 1.2rem;
    letter-spacing: 1.3px;
    margin-bottom: 0.7rem;
}
.footer-left,
.footer-cente
{
    
    width: 25%;
    /* background-color: rgb(203, 180, 225); */
}
.footer-left a{
    color: azure;
    text-decoration: none;
}
.footer-right{
    width: 25%;
}

.icon-gap{
    margin: 0 0 0 20px;
}

.social-media-icon{
    font-size: 1.3rem;
    cursor: pointer;
}
.gaps{
    margin: 8px;
}
.gaps:hover{
    transform: translateY(-15px);
    transition: all 0.3s ease-out;
    
}

.copyright{
    margin: 1rem;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(79, 78, 80);
}



.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translateY(opx);
    opacity: 1;
}
